@mixin font-size($px) {
  font-size: calc($px / 16) + rem;
}

@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}
