@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Reddit Sans Condensed", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  color: $text-color;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  @include flex(row, space-between, center);
  z-index: 10;
}

#menu-icon {
  font-size: 3.5rem;
  color: $main-color;
  display: none;
}

.logo {
  font-size: 3rem;
  color: $text-color;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  span {
    background: linear-gradient(270deg, #c2c464 10%, #df8908 100%);

    background-clip: text;
    color: transparent;
  }
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.8rem;
  color: $text-color;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: $main-color;
  border-bottom: 3px solid $main-color;
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #c2c464 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: $text-color;
  border: none;
  text-wrap: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

.home {
  @include flex(row, center, center, 15rem);
}

.home-content {
  @include flex(column, null, flex-end);
  text-align: right;

  h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
  }

  h3 {
    margin: 1rem 0;
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
  }
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px $main-color;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px $main-color, 0 0 35px $main-color, 0 0 50px $main-color;
}

.social-icons a {
  @include flex(center, center);
  display: inline-flex;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid $main-color;
  border-radius: 50%;
  color: $main-color;
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: $text-color;
  background-color: $main-color;
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px $main-color;
}

.btn-group {
  @include flex(null, null, null, 1.5rem);

  .btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: $main-color;
    box-shadow: 0 0 25px $main-color;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: #000;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }

  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px $main-color, 0 0 25px $main-color;
  }
}

.btn-group a:nth-of-type(2) {
  background-color: #000;
  color: $main-color;
  border: 2px solid $main-color;
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 15px $main-color;
  background-color: $main-color;
  color: #000;
}
